{% extends '__base__.html' %}

{% block title %}Hello{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

<div class="uk-width-medium-3-4">
    <h1>
        Help!
    </h1>

    <h1>
        Help!
    </h1>

    <h1>
        Help!
    </h1>

    <h1>
        Help!
    </h1>
</div>
<div class="uk-width-medium-1-4">
    <div class="uk-panel uk-panel-header">
        <h3 class="uk-panel-title">友情链接</h3>
        <ul class="uk-list uk-list-line">
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.zhihu.com">知乎</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.woshipm.com">人人都是产品经理</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank"
                                                       href="http://www.0daydown.com/category/software/mac">MacOSX |
                0daydown</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.jianshu.com">简书</a></li>
        </ul>
    </div>
</div>

{% endblock %}

